<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<div th:include="fragments/menu"></div>
ADMIN SECTION
<form action="/" th:action="@{/addRepresentation}"
      th:object="${representation}" method="post" data-toggle="validator">

    <div th:if="${confirmationMessage}" class="alert alert-success"
         role="alert" th:text="${confirmationMessage}"></div>

    <div th:if="${errorMessage}"
         class="alert alert-danger" role="alert"
         th:text="${errorMessage}"></div>


<div class="form-group input-group has-feedback">
    <input type="text" th:field="*{show.title}"
           placeholder="Titre" class="form-control" required="required" />
</div>

<button type="submit">Ajouter le spectacle</button>

</form>
</body>
</html>